@font-face {
  font-family: 'Spicy Rice';
  src: url('../fonts/SpicyRice-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 20rem;
}

h1, h2, h3 {
  font-family: 'Spicy Rice';
}

#main-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.task-action {
  opacity: 0.8;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.slider {
  overflow-y: hidden;
  max-height: 500px; /* approximate max height */

  transition-property: all;
  transition-duration: .5s;
}

.slider.closed {
  max-height: 0;
}
