@font-face {
  font-family: 'Spicy Rice';
  src: url('../fonts/SpicyRice-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  position: relative;
}

h1, h2, h3 {
  font-family: 'Spicy Rice';
}

#main-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

ul {
  list-style-type: none;
}
